<div class="content">
  <div class="row">
    <div class="col-lg-4">O que significa Registro Livre?</div>
    <div class="col-lg-4">Por que este projeto?</div>
    <div class="col-lg-4">
      <p>Como ajudar?</p>
      <p>Voce pode ajudar cadastrando documentos de empresas que foram obtidos na junta comercial! </p>
      <%= link_to 'Cliqui aqui para cadastrar uma empresa', new_empresa_path, { class: 'btn btn-primary btn-large' } %>
    </div>
  </div>
</div>
