<div class="content">
  <div class="row">
    <div class="col-lg-4">O que significa Registro Livre?</div>
    <div class="col-lg-4">Por que este projeto?</div>
    <div class="col-lg-4">Como ajudar?</div>
  </div>
</div>
