<div class="content">
  <div class="row">
    <div class="col-lg-4">O que significa Registro Livre?</div>
    <div class="col-lg-4">Por que este projeto?</div>
    <div class="col-lg-4">
      <p>Como ajudar?</p>
      <p>Voce pode ajudar cadastrando documentos de empresas que foram obtidos na junta comercial! Clique aqui para cadastrar uma empresa!</p>
    </div>
  </div>
</div>
